<div class="spacer"></div>
<div class="content">
    <div class="cadastro">
        <div class="cadastro-header">
            <h2>Cadastro</h2>
        </div>
        <br>
        <div class="inputNome">Nome:</div> <br>
        <input type="text" [(ngModel)]="obj.nome" placeholder="Insira seu nome completo" required>
        <br><br>
        <div class="inputEmail">E-mail:</div> <br>
        <input type="email" [(ngModel)]="obj.email" placeholder="Insira seu email" required>
        <br><br>
        <div class="inputSenha">Senha:</div> <br>
        <input type="password" [(ngModel)]="obj.senha" placeholder="Insira sua senha" required>
        <br><br>
        <div class="inputTelefone">Telefone:</div> <br>
        <input type="text" [(ngModel)]="obj.telefone" placeholder="Insira seu telefone" required>
        <br><br>
        <div class="inputDocumento">Documento:</div> <br>
        <input type="text" [(ngModel)]="obj.documento" placeholder="Insira seu documento" required>
        <br><br>
        <div class="inputLogradouro">Logradouro:</div> <br>
        <input type="text" [(ngModel)]="obj.logradouro" placeholder="Insira seu logradouro" required>
        <br><br>
        <div class="inputCep">CEP:</div> <br>
        <input type="text" [(ngModel)]="obj.cep" placeholder="Insira seu CEP | Exemplo: 00000-000" required>
        <br><br>
        <div class="inputCidade">Cidade:</div> <br>
        <input type="text" [(ngModel)]="obj.cidade" placeholder="Insira sua cidade" required>
        <br><br>
        <div class="inputComplemento">Complemento:</div> <br>
        <input type="text" [(ngModel)]="obj.complemento" placeholder="Insira seu complemento se necessário">
        <br><br>
        <button class="botaoCadastro" (click)="gravar()">Cadastre-se</button><br>
        <button class="botaoSair" (click)="logout()">Sair</button>
        <br>
        <b class="mensagem">{{mensagem}}</b>