<div class="header">
    <div class="header-left">
      <img src="/sacola.png" alt="icon" class="icon">
      <h1 class="site-title">
        Port<span class="site-title-highlight">size</span>
      </h1>
    </div>
    
    <div class="center-content">
      <input type="text" class="search-bar" placeholder="O que você está procurando? | Pesquise aqui...">
      <img src="/lupa.png" alt="Pesquisar" class="search-icon">
    </div>

    <div class="login-register">
      <a class="register-link" (click)="navigateToLogin()">
        <div class="register-text">Entre</div>
        <div class="register-subtext">ou Cadastre-se</div>
      </a>
      <img src="/login.png" (click)="navigateToLogin()" alt="Login" class="login-icon">
    </div>
  </div>
