<nav class="navbar">
    <ul class="navbar-menu">
      <li><a href="#">Home</a></li>
      <li>
        <a href="../detalhes">Produtos</a>
        <ul class="submenu">
          <li><a href="./detalhes">Eletrônicos</a></li>
          <li><a href="#">Cadeiras</a></li>
          <li><a href="#">Tênis</a></li>
        </ul>
      </li>
      <li>
        <a href="#contato">Sobre</a>
        <ul class="submenu">
          <li><a href="#">Sobre nós</a></li>
          <li><a href="#conato">Equipe</a></li>
        </ul>
      </li>
      <li><a href="#contato">Contato</a></li>
      <li><a href="#">Cesta</a></li>
    </ul>
  </nav>
  
