.navbar {
    background-color: #333;
    padding: 5px 20px;
    box-sizing: border-box;
    position: fixed;
    top: 69px;
    left: 0;
    width: 100%;
    z-index: 4;
  }
  
  .navbar-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .hamburger {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  .navbar-menu li {
    position: relative;
    margin: 0;
  }
  
  .navbar-menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 5px 10px;
  }
  
  .navbar-menu a:hover {
    background-color: #555;
    border-radius: 10px;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
  }
  
  .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 10;
    border-radius: 5px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .submenu li {
    width: 200px;
  }
  
  .submenu a {
    padding: 10px;
  }
  
  .navbar-menu li:hover .submenu {
    display: block;
  }
  
  .navbar-menu .active a {
    background-color: #555;
    border-radius: 10px;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .navbar-menu {
      flex-direction: column;
      display: none;
      width: 100%;
      background-color: #333;
      transition: background-color 0.3s ease, border-radius 0.3s ease;
    }
  
    .navbar-menu.show {
        
      display: flex;
    }
  
    .navbar-menu li {
      text-align: center;
    }
  
    .hamburger {
      display: block;
    }
  
    .submenu {
      position: static;
      box-shadow: none;
    }
  
    .navbar-menu li:hover .submenu {
      display: none;
    }
  
    .navbar-menu li {
      margin: 0;
      padding: 0;
    }
  
    .submenu a {
      text-align: center;
      display: block;
      padding: 10px;
    }
  }
  