.spacer {
    height: 65px;
}

.content {
    border-top: 3px solid #f1d324;
    background-color: #3e4255;
    padding: 40px;
    border-radius: 10px;
    margin: 10px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.busca-header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 27px;
}

.busca-header h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #e2e2e2;
    margin-left: 15px;
    display: inline-block;
    position: relative;
    font-family: Arial, sans-serif;
}

.busca-header h2::before {
    content: '';
    width: 60px;
    height: 6px;
    background-color: #ffc107;
    position: absolute;
    bottom: -10px;
    left: 0;
    border-radius: 10px;
}

.content {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

.mensagemNaoEncontrou {
    color: yellow;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
}

.nomeItem, .itemDescritivo {
    font-size: 16px;
    color: #666;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.itemValor {
    margin: 10px 0;
    font-family: 'Arial', sans-serif;
    color: #e63946;
    font-size: 20px;
    font-weight: bold;
}

.old-price {
    font-family: 'Arial', sans-serif;
    text-decoration: line-through;
    color: #999;
    font-size: 16px;
    margin-right: 10px;
}

.botaoCompra, .botaoDetalhe {
    background-color: #596dc7;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px; 
}

.botaoCompra:hover, .botaoDetalhe:hover {
    background-color: #454cb9;
}

.conteudoProduto {
    text-align: center;
    width: 250px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
    margin: 10px; 
}

.conteudoProduto:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.ngFor-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
}

.bi-search {
    font-size: 2rem;
    color: #e4ce0d;
    position: relative;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

.icon-background {
    position: absolute;
    width: 90px;
    height: 90px;
    background-color: #ffc107;
    border-radius: 50%;
    z-index: -1;
    left: -45px;
    top: -10px;
    opacity: 0.5;
}

.promo-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .content {
        padding: 10px;
    }
}
