body {
    background-color: #1f1f31;
}

.spacer {
    height: 65px;
}

.content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}

.promotions {
    background-color: #3e4255;
    margin: 40px 0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.itens {
    border-top: 3px solid #f1d324;
    border-bottom: 3px solid #f1d324;
    background-color: #3e4255;
    padding: 40px;
    border-radius: 10px;
    margin: 40px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.promo-header {
    background-color: #423e47;
    padding: 15px;
    text-align: center;
    position: relative;
    border-top: 4px solid transparent; 
    border-image: linear-gradient(135deg, 
        #ffeb3b, 
        #ffc107, 
        #ff9800, 
        #f57c00,
        #ff5722) 1; 
        animation: borderAnimation 4s linear infinite;
}
@keyframes borderAnimation {
    0% {
        border-image-source: linear-gradient(135deg, #ffeb3b, #ffc107, #ff9800, #f57c00, #ffeb3b);
    }
    50% {
        border-image-source: linear-gradient(135deg, #f57c00, #ffeb3b, #ffc107, #ff9800, #ff5722);
    }
    100% {
        border-image-source: linear-gradient(135deg, #ffeb3b, #f57c00, #ffeb3b, #ffc107, #ffeb3b);
    }
}

.promo-header h2 {
    margin: 0;
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}

.promo-header h2::before {
    content: '';
    width: 60px;
    height: 6px;
    background-color: #ffc107; 
    position: absolute;
    bottom: -10px;
    left: 0;
    border-radius: 10px;
}


.countdown-timer{
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}
.bi-clock{
    color: rgb(231, 199, 15);
    font-size: 16px;
    padding-right: 7px;
}

.icon-clock {
    font-size: 3rem;
    color: #e4ce0d;
    position: absolute;
    animation: bounce 1s infinite alternate;
    left: -45px;
    top: -10px;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

.icon-background {
    position: absolute;
    width: 90px;
    height: 90px;
    background-color: #ffc107;
    border-radius: 50%;
    z-index: -1;
    left: -45px;
    top: -10px;
    opacity: 0.5;
}

.promo-content {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.promo-item {
    text-align: center;
    width: 23%; 
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
    margin: 0 6px; 
}

.promo-item:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.promo-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.promo-description {
    margin: 10px 0;
    font-size: 16px;
    color: #666;
    font-family: 'Roboto', sans-serif;
}

.buy-button {
    background-color: #596dc7;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.buy-button:hover {
    background-color: #454cb9;
}

.promo-price {
    margin: 10px 0;
    font-family: 'Arial', sans-serif;
}

.old-price {
    text-decoration: line-through;
    color: #999;
    font-size: 16px;
    margin-right: 10px;
}

.new-price {
    color: #e63946;
    font-size: 20px;
    font-weight: bold;
}

.box {
    color: rgb(117, 117, 151);
    width: 600px;
    height: 500px;
    border-radius: 10px;
    border-top: 3px solid #2d2d3f;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    position: relative;
}

.banner-container {
    text-align: center;
    margin-top: 30px; 
    margin-bottom: 70px;
}

.banner-img {
    width: 100%; 
    height: auto;
    max-height: 1100px; 
    border-radius: 10px;
}

@media (max-width: 768px) {
    .content {
        padding: 10px;
    }

    .body {
        height: auto;
        align-items: center;   
    }

    .promo-content {
        display: flex;                 
        flex-wrap: wrap;              
        justify-content: space-between; 
        align-items: center;           
        width: 100%;                    
        padding: 10;
        margin-left: 100px;                    
    }

    .promo-content > div {             
        flex: 0 0 48%;                
        margin-bottom: 10px;          
    }
}
