<div class="spacer"></div>
<div class="content">
    <div class="esqueciSenha">
        <div class="esqueciSenha-header">
            <h2>Esqueci a minha senha</h2>
        </div>
        <br>
        <div class="inputEmail">E-mail:</div> <input type="email" [(ngModel)]="obj.email" placeholder="Digite o e-mail utilizado no cadastro." required><br><br>
        <div class="inputDocumento">Documento:</div> <input type="text" [(ngModel)]="obj.documento" placeholder="Digite seu documento." required>
        <br><br>
        <button class="botaoEsqueci" (click)="enviarSenha()">Reenviar senha</button>
        <br>
        <b class="mensagem">{{mensagem}}</b>
