<div class="spacer"></div>

<div class="content">
  <div class="esqueciSenha">
    <div class="esqueciSenha-header">
      <h2>Esqueci Minha Senha</h2>
    </div>
    <form (ngSubmit)="reenviarSenha()">
      <label for="email" class="inputEmail">E-mail:</label>
      <br />
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="email"
        required
        placeholder="Digite seu e-mail cadastrado"
      />
      <br />
      <button type="submit" class="botaoEsqueci">Reenviar Senha</button>
    </form>
    <div *ngIf="mensagem" class="mensagem">
      {{ mensagem }}
    </div>
  </div>
</div>

<div class="spacer"></div>
